In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('D:/backup/AI course work/Guvi/projects/PatrolIQ Smart Safety Analytics Platform/Data/Crimes_-_2001_to_Present_20251110.csv')
df.shape

(8438990, 22)

In [3]:
df = df.sample(n=500000, random_state=42)
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
3160905,9179648,HW324801,06/18/2013 05:20:00 PM,039XX W OGDEN AVE,0560,ASSAULT,SIMPLE,SIDEWALK,False,False,...,22.0,29.0,08A,1150286.0,1889027.0,2013,02/10/2018 03:50:01 PM,41.851393,-87.723904,"(41.851393305, -87.723903515)"
2385908,10481343,HZ220954,04/10/2016 06:21:00 PM,044XX S COTTAGE GROVE AVE,0860,THEFT,RETAIL THEFT,GROCERY FOOD STORE,False,False,...,4.0,39.0,06,1182339.0,1875765.0,2016,02/10/2018 03:50:01 PM,41.814317,-87.606674,"(41.814317008, -87.606674143)"
1376707,11948990,JD112780,01/12/2020 03:30:00 AM,016XX E 55TH ST,4387,OTHER OFFENSE,VIOLATE ORDER OF PROTECTION,APARTMENT,True,True,...,5.0,41.0,26,1187661.0,1868839.0,2020,01/19/2020 03:40:43 PM,41.795186,-87.587373,"(41.795186435, -87.587373269)"
791110,12837612,JF408556,09/24/2022 08:00:00 AM,063XX W GRACE ST,0560,ASSAULT,SIMPLE,RESIDENCE,False,False,...,38.0,17.0,08A,1133455.0,1924597.0,2022,01/03/2023 03:40:27 PM,41.949313,-87.784844,"(41.94931319, -87.784843606)"
4734781,6715040,HR130858,01/20/2009 10:55:00 PM,056XX W LE MOYNE ST,031A,ROBBERY,ARMED: HANDGUN,RESIDENCE PORCH/HALLWAY,False,False,...,29.0,25.0,03,1138577.0,1909414.0,2009,02/28/2018 03:56:25 PM,41.907558,-87.766385,"(41.907557909, -87.766384626)"

In [4]:
df.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [5]:
df.drop(columns = [ 'Case Number', 'Block', 'IUCR', 'Updated On', 'Location'], inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500000 entries, 3160905 to 4817972
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    500000 non-null  int64
 1   Date                  500000 non-null  object
 2   Primary Type          500000 non-null  object
 3   Description           500000 non-null  object
 4   Location Description  499087 non-null  object
 5   Arrest                500000 non-null  bool
 6   Domestic              500000 non-null  bool
 7   Beat                  500000 non-null  int64
 8   District              499999 non-null  float64
 9   Ward                  463343 non-null  float64
 10  Community Area        463412 non-null  float64
 11  FBI Code              500000 non-null  object
 12  X Coordinate          494400 non-null  float64
 13  Y Coordinate          494400 non-null  float64
 14  Year                  500000 non-null  int64
 15  Latitude              494400 non-null  float64
 16  Longitude             494400 non-null  float64
dtypes: bool(2), float64(7), int64(3), object(5)
memory usage: 62.0+ MB

In [7]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

C:\Users\sachi\AppData\Local\Temp\ipykernel_8064\2263964175.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [8]:
df['Arrest'] = df['Arrest'].astype(int)
df['Domestic'] = df['Domestic'].astype(int)

In [9]:
df.value_counts()

ID        Date                 Primary Type        Description                          Location Description  Arrest  Domestic  Beat  District  Ward  Community Area  FBI Code  X Coordinate  Y Coordinate  Year  Latitude   Longitude
662       2001-01-19 01:07:00  HOMICIDE            FIRST DEGREE MURDER                  STREET                1       0         1724  17.0      33.0  16.0            01A       1154605.0     1928661.0     2001  41.960067  -87.706990    1
667       2001-01-21 03:23:00  HOMICIDE            FIRST DEGREE MURDER                  APARTMENT             1       1         2534  25.0      37.0  23.0            01A       1147194.0     1908632.0     2001  41.905251  -87.734750    1
707       2001-03-03 12:30:00  HOMICIDE            FIRST DEGREE MURDER                  HOUSE                 1       0         314   3.0       20.0  42.0            01A       1184502.0     1862933.0     2001  41.779055  -87.599142    1
716       2001-03-10 14:59:00  HOMICIDE            FIRST DEGREE MURDER                  APARTMENT             1       1         2524  25.0      30.0  22.0            01A       1149518.0     1916996.0     2001  41.928158  -87.725996    1
734       2001-03-26 15:50:00  HOMICIDE            FIRST DEGREE MURDER                  PARKING LOT           1       0         1412  14.0      35.0  22.0            01A       1153880.0     1917923.0     2001  41.930616  -87.709942    1
                                                                                                                                                                                                                                          ..
14021860  2025-10-25 17:40:00  CRIMINAL DAMAGE     TO VEHICLE                           STREET                0       0         1931  19.0      32.0  5.0             14        1163161.0     1919695.0     2025  41.935288  -87.675787    1
14021915  2025-09-30 12:30:00  DECEPTIVE PRACTICE  FRAUD OR CONFIDENCE GAME             STREET                0       0         1834  18.0      2.0   8.0             11        1177303.0     1905177.0     2025  41.895141  -87.624256    1
14022007  2025-09-20 16:00:00  DECEPTIVE PRACTICE  FRAUD OR CONFIDENCE GAME             APARTMENT             0       0         321   3.0       5.0   69.0            11        1185619.0     1858591.0     2025  41.767113  -87.595184    1
14022125  2025-10-30 09:00:00  DECEPTIVE PRACTICE  FINANCIAL IDENTITY THEFT OVER $ 300  APARTMENT             0       0         1513  15.0      29.0  25.0            11        1137538.0     1895088.0     2025  41.868264  -87.770547    1
14022349  2025-02-01 09:00:00  DECEPTIVE PRACTICE  FRAUD OR CONFIDENCE GAME             RESIDENCE             0       0         911   9.0       12.0  59.0            11        1160912.0     1882318.0     2025  41.832770  -87.685089    1
Name: count, Length: 457624, dtype: int64

In [10]:
df.isnull().sum()

ID                          0
Date                        0
Primary Type                0
Description                 0
Location Description      913
Arrest                      0
Domestic                    0
Beat                        0
District                    1
Ward                    36657
Community Area          36588
FBI Code                    0
X Coordinate             5600
Y Coordinate             5600
Year                        0
Latitude                 5600
Longitude                5600
dtype: int64

In [11]:
df['Location Description'].fillna('UNKNOWN', inplace=True)

C:\Users\sachi\AppData\Local\Temp\ipykernel_8064\1229729722.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Location Description'].fillna('UNKNOWN', inplace=True)

In [12]:
ward_mode = df.groupby('District')['Ward'].transform(lambda x:x.mode()[0])
df['Ward'].fillna(ward_mode, inplace=True)

C:\Users\sachi\AppData\Local\Temp\ipykernel_8064\1460254933.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Ward'].fillna(ward_mode, inplace=True)

In [13]:
community_area_mode = df.groupby('District')['Community Area'].transform(lambda x:x.mode()[0])
df['Community Area'].fillna(community_area_mode, inplace=True)

C:\Users\sachi\AppData\Local\Temp\ipykernel_8064\589091106.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Community Area'].fillna(community_area_mode, inplace=True)

In [14]:
df.dropna(inplace=True)

In [15]:
df.isnull().sum()

ID                      0
Date                    0
Primary Type            0
Description             0
Location Description    0
Arrest                  0
Domestic                0
Beat                    0
District                0
Ward                    0
Community Area          0
FBI Code                0
X Coordinate            0
Y Coordinate            0
Year                    0
Latitude                0
Longitude               0
dtype: int64

In [16]:
df.shape

(494399, 17)

In [17]:
df.duplicated().sum()

np.int64(0)

In [18]:
df.drop_duplicates(inplace=True)

In [19]:
df.duplicated().sum()

np.int64(0)

In [20]:
df['Primary Type'].unique()

array(['ASSAULT', 'THEFT', 'OTHER OFFENSE', 'ROBBERY', 'CRIMINAL DAMAGE',
       'MOTOR VEHICLE THEFT', 'BATTERY', 'DECEPTIVE PRACTICE',
       'CRIMINAL TRESPASS', 'PROSTITUTION', 'WEAPONS VIOLATION',
       'INTERFERENCE WITH PUBLIC OFFICER', 'HOMICIDE', 'NARCOTICS',
       'BURGLARY', 'PUBLIC PEACE VIOLATION', 'CRIM SEXUAL ASSAULT',
       'ARSON', 'OFFENSE INVOLVING CHILDREN', 'GAMBLING', 'SEX OFFENSE',
       'LIQUOR LAW VIOLATION', 'STALKING', 'CRIMINAL SEXUAL ASSAULT',
       'KIDNAPPING', 'INTIMIDATION', 'CONCEALED CARRY LICENSE VIOLATION',
       'PUBLIC INDECENCY', 'OBSCENITY', 'OTHER NARCOTIC VIOLATION',
       'HUMAN TRAFFICKING', 'NON-CRIMINAL', 'RITUALISM'], dtype=object)

In [21]:
df = df[(df['Latitude'].between(41.60, 42.10)) & (df['Longitude'].between(-88.0, -87.40))]

In [22]:
df['Description'] = df['Description'].str.lower()
df['Location Description'] = df['Location Description'].str.lower()

In [23]:
df['Description'] = df['Description'].str.strip()
df['Location Description'] = df['Location Description'].str.strip()

In [24]:
df['Description'] = df['Description'].str.replace(r'\s+', ' ', regex=True)
df['Location Description'] = df['Location Description'].str.replace(r'\s+', ' ', regex=True)

In [25]:
df['Primary Type'] = df['Primary Type'].str.lower()

In [26]:

df.value_counts()

ID        Date                 Primary Type        Description                          Location Description  Arrest  Domestic  Beat  District  Ward  Community Area  FBI Code  X Coordinate  Y Coordinate  Year  Latitude   Longitude
662       2001-01-19 01:07:00  homicide            first degree murder                  street                1       0         1724  17.0      33.0  16.0            01A       1154605.0     1928661.0     2001  41.960067  -87.706990    1
667       2001-01-21 03:23:00  homicide            first degree murder                  apartment             1       1         2534  25.0      37.0  23.0            01A       1147194.0     1908632.0     2001  41.905251  -87.734750    1
707       2001-03-03 12:30:00  homicide            first degree murder                  house                 1       0         314   3.0       20.0  42.0            01A       1184502.0     1862933.0     2001  41.779055  -87.599142    1
716       2001-03-10 14:59:00  homicide            first degree murder                  apartment             1       1         2524  25.0      30.0  22.0            01A       1149518.0     1916996.0     2001  41.928158  -87.725996    1
734       2001-03-26 15:50:00  homicide            first degree murder                  parking lot           1       0         1412  14.0      35.0  22.0            01A       1153880.0     1917923.0     2001  41.930616  -87.709942    1
                                                                                                                                                                                                                                          ..
14021860  2025-10-25 17:40:00  criminal damage     to vehicle                           street                0       0         1931  19.0      32.0  5.0             14        1163161.0     1919695.0     2025  41.935288  -87.675787    1
14021915  2025-09-30 12:30:00  deceptive practice  fraud or confidence game             street                0       0         1834  18.0      2.0   8.0             11        1177303.0     1905177.0     2025  41.895141  -87.624256    1
14022007  2025-09-20 16:00:00  deceptive practice  fraud or confidence game             apartment             0       0         321   3.0       5.0   69.0            11        1185619.0     1858591.0     2025  41.767113  -87.595184    1
14022125  2025-10-30 09:00:00  deceptive practice  financial identity theft over $ 300  apartment             0       0         1513  15.0      29.0  25.0            11        1137538.0     1895088.0     2025  41.868264  -87.770547    1
14022349  2025-02-01 09:00:00  deceptive practice  fraud or confidence game             residence             0       0         911   9.0       12.0  59.0            11        1160912.0     1882318.0     2025  41.832770  -87.685089    1
Name: count, Length: 494386, dtype: int64

In [27]:
df.to_csv('../Data/clean_crime_data.csv', index=False)